/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header {
  ion-toolbar {
    ion-title {
      img {
        width: 100px;
        vertical-align: middle;
        margin-right: 2px;
      }

      span {
        font-size: 22px;
      }

      ion-button {
        display: block;
        width: 20%;
        margin: 0 40% 0 40%;
      }
    }
  }
}

ion-content {
  .background {
    opacity: 0;

    .bank-information {
      .qrcode {
        height: 120px;
        margin: 16px auto;
        display: block;
      }

      span {
        margin: 5px 0;
        font-size: 14px;
        display: block;
      }
    }

    ion-list {
      margin-top: 32px;
      background: transparent;

      ion-item {
        color: #fff;
        --background: transparent;
        --detail-icon-opacity: 1;
        border-top: 0.55px solid rgba($color: #ffffff, $alpha: 0.7);
      }

      ion-icon {
        color: #fff;
      }
    }

    .logout {
      margin-top: 32px;
      margin-bottom: 100px;
    }
  }

  .blocks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 999;
    
    ion-card{
      .cash{
        span{
          &.value{
            font-size: 38px;
            display: block;
          }

          &.blue{
            color: #0ab9cd;
          }

          &.green{
            color: #94c22b;
          }
        }
      }

      .footer{
        background-color: #f4f5f8;
      }

      .title{
        font-size:20px;
      }

      .gift{
        font-size: 30px;
      }
    }
  }
}

ion-footer {
  ion-slide {
    .container {
      width: 100%;
      height: 100px;
      background-color: var(--ion-color-primary-tint);
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
    }

    ion-icon {
      font-size: 24px;
    }

    span {
      font-size: 22px;
      font-weight: 100;
    }
  }
}

.espaco{
  padding: 10px;
}